# Convex
CONVEX_DEPLOYMENT=
CONVEX_DEPLOY_KEY=
NEXT_PUBLIC_CONVEX_URL=
CONVEX_SITE_URL=
SITE_URL=

# Convex Auth
JWT_PRIVATE_KEY=
JWKS=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# AI provider
AI_PROVIDER=
GEMINI_API_KEY=
GEMINI_MODEL=
OPENAI_API_KEY=
OPENAI_MODEL=

# Inngest
INNGEST_SIGNING_KEY=
INNGEST_EVENT_KEY=
INNGEST_DEV=
